{% extends 'social/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Áreas de Interesse
        <small>Selecione a área de interesse</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Áreas de Interesse</a></li>

      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
          <!-- Areas de Interesse -->
            <div class="box-footer no-border">
            <br>
              <div class="row">
                <div class="col-xs-6 text-center">
                  <a href="{% url 'matematica' %}" ><img src="{% static 'dist/img/area-icon/abacus.png' %}"></a>
                  <div>Matemática</div>
                </div>
                <!-- ./col -->
                <div class="col-xs-4 text-center">
                  <a href="{% url 'informatica' %}"><img src="{% static 'dist/img/area-icon/computer.png' %}"></a>
                  <div>Informática</div>
                </div>
                <!-- ./col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
        <!-- /Areas de Interesse -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}